<div id="p-footer">
    <div id="footer">
        <div id="p-gauche">
            <img src="../../assets/img/twitter (1).png" width="50" height="50">
            <img src="../../assets/img/linkedin (2).png" width="50" height="50">
            <img src="../../assets/img/facebook.png" width="50" height="50">
        </div>
        <div id="p-droit">
            <ul>
                <li>
                    <img src="../../assets/img/email.png" width="20" height="20">
                    <a href="mailto:aupetitvillage@gmail.com">aupetitvillage&#64;gmail.com</a>
                </li>
                <li>
                    <img src="../../assets/img/iphone.png" width="20" height="20">
                    <a href="telto:06 07 08 09 10">06 07 08 09 10</a>
                </li>
                <li>
                    <img src="../../assets/img/cartes-et-drapeaux (1).png" width="20" height="20">218 Rte de Vienne, 69008 Lyon
                </li>
            </ul>
        </div>
    </div>
</div>
