<div id="formulaire">
    <div id="form-ext">
        <div id="top-form">
            <div id="nom">
                <label>Nom : </label>
                <input type="text" placeholder="Nom">
            </div>
            <div id="prenom">
                <label id="space">Prénom : </label>
                <input type="text" placeholder="Prénom">
            </div>
        </div>
        <div id="mid-form">
            <label>Mail : </label>
            <input type="text" id="i-mail" placeholder="adressemail@gmail.com">
            <label>Tel : </label>
            <input type="text" id="i-tel" placeholder="06 06 06 06 06">
        </div>
        <div id="bottom-form">
            <textarea placeholder="Votre message"></textarea>
        </div>
        <div id="btn-form">
            <button>Envoyer le message</button>
        </div>
    </div>
</div>
