<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Date de fondation
            <img src="../../assets/img/calendrier-p.png" width="30" height="30" class="favicon-a-propos">
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet elit at lectus iaculis, a elementum dui dignissim. Nulla lacinia, eros ut molestie laoreet, 
            sapien orci ornare leo, ac cursus mi lectus molestie arcu. Aenean in augue elementum, laoreet nulla sed, pulvinar justo. 
            Morbi ac purus vitae nisi maximus dignissim. Nam quam sapien, mattis a elit in, porttitor finibus nisl.
            Mauris leo metus, tempor vitae tempus et, lacinia sit amet augue. Quisque at enim cursus ligula suscipit pretium. 
            Sed tincidunt ultrices enim, eget accumsan ligula lobortis ac.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Fondateurs et origines
            <img src="../../assets/img/directeur-general.png" width="30" height="30" class="favicon-a-propos">
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet elit at lectus iaculis, a elementum dui dignissim. Nulla lacinia, eros ut molestie laoreet, 
            sapien orci ornare leo, ac cursus mi lectus molestie arcu. Aenean in augue elementum, laoreet nulla sed, pulvinar justo. 
            Morbi ac purus vitae nisi maximus dignissim. Nam quam sapien, mattis a elit in, porttitor finibus nisl.
            Mauris leo metus, tempor vitae tempus et, lacinia sit amet augue. Quisque at enim cursus ligula suscipit pretium. 
            Sed tincidunt ultrices enim, eget accumsan ligula lobortis ac.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Croissance et expansion
            <img src="../../assets/img/croissance-des-benefices.png" width="30" height="30" class="favicon-a-propos">
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet elit at lectus iaculis, a elementum dui dignissim. Nulla lacinia, eros ut molestie laoreet, 
            sapien orci ornare leo, ac cursus mi lectus molestie arcu. Aenean in augue elementum, laoreet nulla sed, pulvinar justo. 
            Morbi ac purus vitae nisi maximus dignissim. Nam quam sapien, mattis a elit in, porttitor finibus nisl.
            Mauris leo metus, tempor vitae tempus et, lacinia sit amet augue. Quisque at enim cursus ligula suscipit pretium. 
            Sed tincidunt ultrices enim, eget accumsan ligula lobortis ac.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
            Défis et obstacles surmontés
            <img src="../../assets/img/objectif.png" width="30" height="30" class="favicon-a-propos">
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet elit at lectus iaculis, a elementum dui dignissim. Nulla lacinia, eros ut molestie laoreet, 
            sapien orci ornare leo, ac cursus mi lectus molestie arcu. Aenean in augue elementum, laoreet nulla sed, pulvinar justo. 
            Morbi ac purus vitae nisi maximus dignissim. Nam quam sapien, mattis a elit in, porttitor finibus nisl.
            Mauris leo metus, tempor vitae tempus et, lacinia sit amet augue. Quisque at enim cursus ligula suscipit pretium. 
            Sed tincidunt ultrices enim, eget accumsan ligula lobortis ac.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
            Impacts sociaux et environnementaux
            <img src="../../assets/img/protection-environnementale.png" width="30" height="30" class="favicon-a-propos">
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet elit at lectus iaculis, a elementum dui dignissim. Nulla lacinia, eros ut molestie laoreet, 
            sapien orci ornare leo, ac cursus mi lectus molestie arcu. Aenean in augue elementum, laoreet nulla sed, pulvinar justo. 
            Morbi ac purus vitae nisi maximus dignissim. Nam quam sapien, mattis a elit in, porttitor finibus nisl.
            Mauris leo metus, tempor vitae tempus et, lacinia sit amet augue. Quisque at enim cursus ligula suscipit pretium. 
            Sed tincidunt ultrices enim, eget accumsan ligula lobortis ac.
          </div>
        </div>
      </div>
  </div>
